<plugin name='installer' version='0.5' griffonVersion='0.3.2 &gt; *' jdk='1.5'>
  <author>Andres Almiray, Josh Reed</author>
  <authorEmail>aalmiray@users.sourceforge.net, jareed@andrill.org</authorEmail>
  <title>Creates launchers and installers for your Griffon application</title>
  <documentation>http://griffon.codehaus.org/Installer+Plugin</documentation>
  <dependencies />
</plugin>